[user]
    name = name
    email = email
[color]
    diff = auto
    status = auto
    branch = auto
[alias]
    co = checkout
    ci = commit -a
    st = status
    b = branch
    l = log --graph --pretty=format:'%C(110)%h%Creset %C(243)[%an]%Creset | %C(250)%s%Creset (%ad, %ar)%C(cyan)%d%Creset' --date=short -5
    log = log --graph --pretty=format:'%C(110)%h%Creset %C(242)[%an]%Creset | %C(250)%s%Creset (%ad)%C(cyan)%d%Creset' --date=local --all
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    rpop = reset --hard HEAD^
[core]
    whitespace=fix,-indent-with-non-tab,trailing-space,space-before-tab
	excludesfile = ~/.gitignore
[merge]
    log = true
[branch]
    autosetuprebase = always
[push]
    default = current
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
